fastapi
uvicorn
sqlalchemy
alembic
psycopg2-binary
pydantic
python-dotenv
python-jose[cryptography]
python-multipart
passlib[argon2]
jinja2
markdown
fpdf2
langchain
langchain-community
langchain-groq
langgraph
langchain-apify
tavily-python
redis
celery
pydantic[email]
httpx
playwright
pillow
