# Product Teardown

## Product Overview

{{ product_name }}

{{ overview }}

## Target Users

{% for user in target_users %}
- {{ user }}
{% endfor %}

## Pain Points

{% for point in pain_points %}
- {{ point }}
{% endfor %}